.testimonialsForm {
  position: absolute;
  top: -7.5%;
  width: 22.5%;
  right: 15%;
}

.testimonialsComponent {
  margin-bottom: -100px;

  & > div {
    padding: 10px 0px 10px 0px;
    background: linear-gradient(295.57deg, #4649e3 0%, #48a6f7 100%);
    filter: drop-shadow(0px 6px 18px rgba(11, 8, 42, 0.13));
  }

  :global .carousel-inner {
    min-height: 350px;
    display: flex;
    align-items: center;
  }

  :global .carousel-item {
    padding: 10px;
  }
  :global .carousel-indicators {
    position: relative;
    justify-content: center;
    margin-left: 0px;
  }
}

@media (max-width: 1399.98px) {
  .testimonialsForm {
    width: 30%;
    right: 10%;
  }
}

@media (max-width: 991.98px) {
  .testimonialsForm {
    position: relative;
    top: initial;
    width: 80%;
    width: initial;
    right: initial;
  }
}

@media (max-width: 767.98px) {
  .testimonialsForm {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .testimonialsComponent {
    :global .carousel-inner {
      min-height: 650px;
      display: flex;
      align-items: center;
    }

    :global .carousel-control-next{
      display: none;
    }
  }
}

@media (max-width: 320.98px) {
}
