.footerComponent {
  padding-top: 60px;
  background-image: linear-gradient(
    to right bottom,
    #289ff3,
    #008dfb,
    #0079fe,
    #1562fd,
    #5042f4
  );
  background-image: url(../../../shared/media/images/backgroundFooter.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.contactlist {
  li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  i {
    font-size: 34px;
    margin-right: 5px;
  }
}

.navlist {
  a,
  Link {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    transition: all;

    &:hover {
      text-shadow: 0px 6px 3px rgba(128, 128, 128, 0.308);
      color: white;
    }
  }
  i {
    font-size: 34px;
    margin-right: 5px;
  }
}
