.navbarComponent {
  background-color: transparent !important;
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  position: absolute !important;
  width: 100% !important;
  z-index: 10;

  .navImage {
    position: relative !important;
    height: 80px !important;
    width: 200px !important;
    margin-top: 10px !important;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  :global(.navbar-toggler) {
    font-size: 30px !important;
  }

  :global(.navbar-nav .nav-item) {
    margin-right: 16px !important;
    color: white !important;
    font-family: var(--font-montserrat), system-ui, sans-serif !important;
    transition: all 0.2s !important;
  }

  :global(.navbar-nav .nav-item a) {
    color: white !important;
    transition: all 0.2s !important;
    text-decoration: none !important;
  }

  :global(.navbar-nav .nav-item a:hover) {
    color: white !important;
    text-shadow: 0px 3px 8px rgba(32, 32, 32, 0.486) !important;
  }

  :global(.navbar-nav .nav-item .active) {
    font-weight: bold !important;
  }

  :global(.navbar-nav .nav-item:hover) {
    color: white !important;
  }
}
