@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #636363;
  --title-color: #5042f4;
}

/* Default */
html,
body,
root {
  padding: 0;
  margin: 0;
  font-family: "Work sans", sans-serif;
  min-height: 100% !important;
  overflow-x: hidden;
  scrollbar-width: thin;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.title-color {
  color: var(--title-color);
}

p {
  line-height: 1rem;
  color: var(--text-color);
}

input {
  color: black;
  font-family: "Work sans", sans-serif;
  font-weight: 700;
}

/* Transitions */
.fade-enter {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  transition: opacity 200ms;
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* Navbar */
.navbar {
  background-color: transparent !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  position: absolute !important;
  width: 100% !important;
}

.navbar .navbar-brand {
  color: white;
}

.navbar-toggler {
  font-size: 30px;
}

.navbar .navbar-nav .nav-item {
  margin-right: 16px;
  color: white;
  font-family: "Montserrat";
  transition: all 0.2s;
}

.navbar .navbar-nav .nav-item:hover {
  color: white;
}

.navbar .navbar-nav .nav-item a {
  color: white;
  transition: all 0.2s;
}

.navbar .navbar-nav .nav-item a:hover {
  color: white;
  text-shadow: 0px 3px 8px rgba(32, 32, 32, 0.486);
}

.navbar .navbar-nav .nav-item.active {
  font-weight: bold;
}
